 {% extends 'base.html' %}
 {% block content %}

 <script
 src="https://code.jquery.com/jquery-3.6.0.min.js"
 integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
 crossorigin="anonymous"></script>

 <script>
   $('.like-button').ready(function() {
    $('.like-button').click( 
      function(){
      
      var post_id= parseInt($(this).closest('.post-box').attr('data-postid'))
      var $link = $(this);
      $.ajax({
      url: '/like/' + post_id
     }) .done(function(data){
       var like_info= JSON.parse(data);
       var like_count = like_info['like_count'];
       if (like_info['action'] === 'like'){
        $link.find('.fa-heart').removeClass('far')
       $link.find('.fa-heart').addClass('fas')
       }
       else {
        $link.find('.fa-heart').removeClass('fas')
       $link.find('.fa-heart').addClass('far')
       }
       $link.find('.like-count').text(like_count)
       

     })
     .fail(function(){
       alert("error");
     })
    })
  })

  $('.comment-button').ready(function() {
    $('.comment-button').click(function(){
      var post_id= parseInt($(this).closest('.post-box').attr('data-postid'))
      var $comments = $(this).closest('.post-box').find('.comments')
      $.ajax({
      url: '/api/comments/' + post_id
     }) .done(function(data){
       $comments.html('');
       var comments = JSON.parse(data);
       console.log(comments)
       if (comments) {
         
       for (var i=0; i < comments.length; i++) {
         var handle = comments[i]['Handle'];
         var text = comments[i]['Text'];
            $comments.append(`<li><b>${handle}: </b> ${text}</li>`);
       }}
       else{
         
        $comments.append('<li>No comments yet!</li>');
       }
      }
     )
     .fail(function(){
       alert("error");
     })
      
})
})

 </script>

 <title>DogChat - My Feed</title>
 <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <a href="{{url_for('profile', dog_id=cus)}}"><img src= "{{url_for('static', filename = profilepic)}}"> </a>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><a href="{{url_for('profile', dog_id= cus)}}">{{name}}</a></strong> <small><a href="{{url_for('profile', dog_id= cus)}}">@{{cus}}</a></small>
            <div class="field">
                <div class="control">
                    <form action="/create" method="POST">
                  <textarea class="textarea" name="post-content" placeholder="New Message" rows=3></textarea>
                  <br>
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-link">Submit</button>
                    </div>
                    </div>
                </form>
                </div>
              </div>

          </p>
        </div>
      </div>
    </article>
  </div>
  {%for dog in dogs %}
<div class="box post-box" data-postid="{{dog['PostId']}}">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <a href="{{url_for('profile', dog_id=dog['Handle'])}}"><img src= "{{url_for('static', filename = dog['Picture'])}}"> </a>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><a href="{{url_for('profile', dog_id=dog['Handle'])}}">{{dog['Name']}}</a></strong> <small><a href="{{url_for('profile', dog_id=dog['Handle'])}}">@{{dog['Handle']}}</a></small> <small>'DateTime'</small> &nbsp;&nbsp;&nbsp; {% if cus == dog['Handle'] %}<small>(<a style="color:red;" href="{{url_for('delete', post_id=dog['PostId'])}}">DELETE</a>)</small>{% endif %}
            <br>
            {{dog['Post']}}
            </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
                      {%if dog['CurrentDogLike'] %}
                      <a class="level-item like-button" aria-label="like">
                        <span class="icon-text">
                            <span class="icon is-small">
                              <i class="fas fa-heart"></i>
                             </span>
                        </span>
                        <span class = "like-count">
                          {{dog['LikeCount']}}
                        </span>
                       </a>
                      {% else %}
                      <a class="like-button level-item" aria-label="like" >
                        <span class="icon-text">
                            <span class="icon is-small">
                             <i class="far fa-heart"></i>
                            </span>
                        </span>
                        <span class = "like-count">
                          {{dog['LikeCount']}}
                        </span>
                      </a>
                      {% endif %}
                      <a class="level-item comment-button" aria-label="comment" >
                        <span class="icon-text">
                            <span class="icon is-small">
                              <i class="fas fa-comment"></i>
                            </span>
                        </span>
                      </a>
          </div>
        </nav>
      </div>
    </article>
    <ul class="comments">
    </ul>
  </div>
  {%endfor%}
 {% endblock %}